*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}


main{

    width: 100%;
    height: 100vh ;
    background-image: url(../img/bgi.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    width: 100% ;
    height: 10vh ;
    padding: 10px 100px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{

    justify-content: start ;
    align-items: center ;
}
header nav{

    justify-content: right; 
    align-items: center ;   

}
header nav a{
          color: #1D1D1D;
       text-decoration: none;
       margin: 0  30px;
       transition: 0.5s;
}
header nav a:hover{
    border: 2px solid #1005FF;
    color: #1005FF;
    font-size: 18px;
    padding: 15px;
    border-radius:15px ;
}

.hero{

    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.hero .contener{
     
  
     width: 900px;
     height: 500px;
}

.hero .contener h1{

    font-size: 80px;
    align-items: center;
    justify-content: center;
    text-align:center ;
    


}
.hero .contener p{


    font-size: 18px;

    align-items: center;

    justify-content: center;

    padding: 15px 60px;

    text-align:center ;
    margin: 20px 0 ;
  

}
.hero .contener a{
     display: inline-block;
     background-color: #1005FF;
     color: #fff;
     margin:auto ;
     
   
    text-decoration: none;
    width: 200px;
    height: 50px;

    border: 1px solid #1005FF;
    border-radius: 50px;
         
    top: 0;
    left: 0;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center ;
      gap: 10px;
      transition: 0.5s;

}
.hero .contener a:hover{

    border: 2px  solid #1005FF;
    color:#1005FF;
    background-color: #fff  ;

}


.About{

    width: 100%;
    height: 100vh;
    background-color: #F3F7F8;

    display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
    

}
.About .coment{
     
     width: 50%;
     height: 50vh; 

     


}
.About .coment h2{
      
     margin-bottom: 30px;
     font-size: 60px;


}
.About .coment .p1{
      
    margin-bottom: 30px;
    font-size: 30px;
    color: #666666;
    

}
.About .coment .p2{
    width: 480px;
    height: 150px;
      
    font-size: 20px;
    color: #95989A;
   
    

}
.About .img{

    width: 550px;
    height: 430px;


}

.Products{
    width: 100%;
    height: 100vh;
   
}
.Products .com1{

    width: 100%;
     height: 25vh;
   
       padding:  100px  360px;
}
.Products .com1 h2{
     
    font-size: 40px;
    float: left;
    
}
.Products .com1 h5{
     
    font-size: 15px;
    float: right;
    padding-top: 20px;

}

.Products .dad{
    width: 100%;
    height: 75vh;

    display: flex;
    justify-content: center;
    align-items: flex-start ;
    top: 0;
    left: 0;
}



.Products .LeParcel{

    width: 600px ;
    height: 600px ;
    margin-top: 10px;
    background-color: #b1b1b1;

}
.Products .LeParcel:hover{
          
    border: 1px solid #1005FF;
}

.Products .boxs{
      
    width: 600px;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;     
    gap: 20px;
}
.Products .boxs div{
        width: 270px;
        height: 275px;
        background-color: #b1b1b1;
}
.Products .boxs div:hover{

    border: 2px solid #1005FF;

  
}
.Completed{

    width: 100%;
    height: 25vh;
    background-color: #1D1D1D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Completed span{

    width: 200px;
    height: 200px;
    color: #fff;
     text-align: center;
    padding: 70px 0px;
    margin: 0 150px;
}
.Completed span .p1 , .p2 , .p3{

   font-size: 20px;
   
}
.Completed span .w1 , .w2 , .w3{

   font-size: 50px;
   text-align: center ;
   padding-top: 20px;
   
}

.Stay{
    width: 100%;
    height: 75vh;

}
.Stay .contener{

    display: flex;
    justify-content: center;
    align-items: center;
 
}
.Stay .contener .q1{
        
    width: 60%;
    height: 75vh;
    background-color: #F3F7F8;


}
.Stay .contener .coment{

    width:40% ;
    height: 500px;
    margin: 100px 150px;
          
    
}
.Stay .contener .coment h3{
           font-size: 40px;
           margin-bottom: 40px;
}

.Stay .contener .coment p{

       color: #666666;
       margin-bottom: 30px;
       font-size: 20px;

}

.Stay .contener .coment .lom1{
            
    color: #95989A;
    font-size: 15px ;
}
.Stay .contener .g1 {
     
    width: 250px;
    height: 40px;
       float: left;   
       margin-top:18px ; 
       border-top-left-radius: 20px ;
       border-bottom-left-radius: 20px ;
       

}
.Stay .contener .g1::placeholder {
      padding: 15px;
}
.Stay .contener button{
   
   display: inline-block;
   width: 100px;
   height: 40px;
   border-top-right-radius: 20px ;
   border-bottom-right-radius: 20px ;
   background-color: #1005FF;
   color: #fff;
     }

     .img2{
        width: 100%;
        height: 27vh;
        background-color: #F3F7F8;
        display: flex;
        justify-content: center;
        align-items: center;
     }
   

     footer{
         width: 100% ;
         height: 29vh;
        background-color: #1D1D1D;
        padding: 20px  150px;
     }
     footer .contener{
        width: 100% ;
        height: 20vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
     }
     footer div{
        width: 180px;
        height: 100px;
        color: #fff;
     }
     footer .contener i{
        margin: 10px;
     }
     footer .p{
        width: 100%;
        height: 50px;
       
        color: #fff;
       display: flex;
       justify-content: center;
       align-items: center;
      
        
     }










     
     
  
   





